.nav {
  background-color: #b6ffff;
  padding: 20px 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
}
.nav__notification {
  position: absolute;
  top: -20px;
  left: 27px;
}
.nav__dot {
  position: absolute;
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
